@import '~antd/dist/antd.css';

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

#root {
  height: 600px;
  width: 320px;
  background: lightgray;
  border: 4px solid white;
  border-radius: 12px;
}
