.login-wrapper {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.login-wrapper #user-name {
	margin-top: 250px;
	width: 240px;
	margin-bottom: 10px;
}

.login-wrapper #button-row > *:not(:first-child) {
	margin-left: 20px;
}
