.select-cards-wrapper {
}

.ant-card-body {
	padding: 5px;
}

p {
	margin-block-end: 0;
}

.ant-carousel .slick-slide {
	text-align: center;
	height: 400px;
	line-height: 400px;
	background: #364d79;
	overflow: hidden;
}

.ant-carousel .slick-slide h3 {
	color: #fff;
}

.enter-description-wrapper {
	margin-left: 3px;
	margin-right: 3px;
	display: flex;
	flex-direction: row;
}
